{%load static %}
<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.mini.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
        <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}">
    </head>
    <body>
        <header>
            <!-- Start NavBar-->
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img src="{% static 'blog/images/logo.png'%}" alt="شعار مدونة" width="30px" height="">
                    مدونة</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          دوراتي
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">دورة بايثون</a></li>
                          <li><a class="dropdown-item" href="#">دورة ديجانغو</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">دورة نظام التعلم</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">من نحن</a>
                      </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">تسجيل الدخول</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">تسجيل</a></li>
                    </ul>
                   
                  </div>
                </div>
            </nav>
             <!--End Navbar-->
        </header>
        <div><i class="fa-solid fa-house-user"></i> حباييب غلبي </div>
        <script src="{% static  'blog/js/jquery-3.x-git.slim.min.js' %}"></script>
        <script src="{% static  'blog/js/popper.min.js' %}"></script>
        <script src="{% static  'blog/js/bootstrap.min.js' %}"></script>
        <script src="{% static  'blog/js/fontawesome-all.min.js' %}"></script>
    </body>
</html>